 h3{
 font-size:55px;
 text-decoration: underline;
 font-style: italic;
  text-align: center;
  color: whitesmoke;
  
 }
p{
font-size:30px;
color: whitesmoke;
font-weight: bold;
 } 
body{
background-image: url("construction-helmet-industry-1216589.jpg");
background-size: cover;}
